In [77]:
import pandas as pd
from datetime import datetime
import ast

In [127]:
PATH = 'MovieSummaries'

In [161]:
header = ['Wikipedia movie ID', 'Freebase movie ID', 'Movie name', 'Movie release date', 'Movie box office revenue', 'Movie runtime', 
          'Movie languages', 'Movie country', 'Movie genres']
df = pd.read_csv(PATH + '/movie.metadata.tsv', sep='\t', names=header, skipinitialspace=True)

In [162]:
df.head(5)

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie country,Movie genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

### Cleaning df1

In [163]:
print("data set initial size = ", df.size)

data set initial size =  735669

In [164]:
df.isnull().values.any()

True

In [165]:
df.isnull().sum()

Wikipedia movie ID              0
Freebase movie ID               0
Movie name                      0
Movie release date           6902
Movie box office revenue    73340
Movie runtime               20450
Movie languages                 0
Movie country                   0
Movie genres                    0
dtype: int64

In [166]:

df = df[(df['Movie country'] != "{}") & (df['Movie languages'] != "{}") & (df['Movie genres'] != "{}")]
print(df.size)

576792

In [167]:
df['Movie country'] = df['Movie country'].apply(lambda x: list(ast.literal_eval(x).values())[0])
df['Movie genres'] = df['Movie genres'].apply(lambda x: list(ast.literal_eval(x).values()))
df['Movie languages'] = df['Movie languages'].apply(lambda x: list(ast.literal_eval(x).values()))

In [168]:
df.sample(10)

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie country,Movie genres
38231,4078865,/m/02hwd1n,Reign Over Me,2007-03-22,22222308.0,124.0,[English Language],United States of America,"[Buddy film, Family Film, Family Drama, Drama,..."
10531,14301855,/m/03c_xlm,Heart of a Dog,1988-11-19,NaN,130.0,[Russian Language],Soviet Union,"[Political satire, Satire, Comedy-drama, Black..."
12284,28833876,/m/0ddffg_,God's Outlaw,1986,NaN,93.0,[English Language],United Kingdom,"[History, Biography, Drama]"
48633,30528861,/m/0g9vwrc,Get Cracking,1943-05-17,NaN,96.0,[English Language],United Kingdom,"[Comedy film, War film]"
72644,14217334,/m/03cy2sf,To Crack the Dragon Gate,1970-05-06,NaN,NaN,[Cantonese],Hong Kong,"[Action, Chinese Movies]"
8054,2298243,/m/071x8p,All Over Me,1997-02,150646.0,90.0,[English Language],United States of America,"[LGBT, Crime Fiction, Indie, Gay, Gay Interest..."
30147,812818,/m/03drd_,In a Lonely Place,1950,NaN,94.0,[English Language],United States of America,"[Crime Fiction, Thriller, Black-and-white, Mys..."
70732,1386250,/m/04yfxd,Surf Ninjas,1993-08-20,4916135.0,87.0,[English Language],United States of America,"[Children's/Family, Action Comedy, Action/Adve..."
79974,8408239,/m/0272d2x,Man Hunt,1984,NaN,83.0,[English Language],Italy,"[Action/Adventure, Western, Action, Drama, Wor..."
62308,23687584,/m/06zt2q1,I Due sergenti,1951,NaN,NaN,[Italian Language],Italy,[Comedy]

In [173]:
df_date_revenue_clean = df.dropna(subset=['Movie release date', 'Movie box office revenue'])
df_date_clean = df.dropna(subset=['Movie release date'])
df_date_revenue_runtime_clean = df.dropna(subset=['Movie release date', 'Movie box office revenue', 'Movie runtime'])


#formating dates
def format_date(date) :
    date = date[:4]
    return date

df_date_revenue_clean['Movie release date'] = df_date_revenue_clean['Movie release date'].apply(format_date)
df_date_clean['Movie release date'] = df_date_clean['Movie release date'].apply(format_date)
df_date_revenue_runtime_clean['Movie release date'] = df_date_revenue_runtime_clean['Movie release date'].apply(format_date)

C:\Users\julie\AppData\Local\Temp\ipykernel_22720\35622789.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_date_revenue_clean['Movie release date'] = df_date_revenue_clean['Movie release date'].apply(format_date)
C:\Users\julie\AppData\Local\Temp\ipykernel_22720\35622789.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_date_clean['Movie release date'] = df_date_clean['Movie release date'].apply(format_date)
C:\Users\julie\AppData\Local\Temp\ipykernel_22720\35622789.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_date_revenue_runtime_clean['Movie release date'] = df_date_revenue_runtime_clean['Movie release date'].apply(format_date)

In [174]:
print('Size of the data with the dates cleaned up : ', df_date_clean.size)
print('Size of the data with the dates and the box office revenues cleaned up : ', df_date_revenue_clean.size)
print('Size of the data with the dates, the box office revenues and the runtimes cleaned up : ', df_date_revenue_runtime_clean.size)

Size of the data with the dates cleaned up :  555507
Size of the data with the dates and the box office revenues cleaned up :  72207
Size of the data with the dates, the box office revenues and the runtimes cleaned up :  71838

We can see that when we clean the rows that do not contain values of boow offic revenue the dataset is seriously reduced. The idea here is to keep a version of the dataset without taking care of the box office revenue when it is not the target of the analysis. We notice that the size difference between  df_date_revenue_clean and df_date_revenue_runtime_clean is negligeable, no need to treat them separately.

In [175]:

df_date_revenue_runtime_clean.sample(10)

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie country,Movie genres
10172,2345044,/m/075cph,The Man Who Knew Too Much,1956,4100000.0,120.0,"[French Language, Arabic Language, English Lan...",United States of America,"[Thriller, Gangster Film, Psychological thrill..."
59759,10286355,/m/02q7fl9,Primary Colors,1998,52090187.0,120.0,[English Language],United States of America,"[Media Satire, Japanese Movies, Film à clef, C..."
1067,3028248,/m/08ll9g,Chances Are,1989,16278590.0,108.0,[English Language],United States of America,"[Romantic comedy, Fantasy, Comedy, Romance Fil..."
39692,21544734,/m/05h2689,Earth Days,2009,23179.0,102.0,[English Language],United States of America,[Documentary]
64246,33313466,/m/0gcrf3b,The Recipe,2010,293898.0,107.0,[Korean Language],South Korea,"[World cinema, Road movie, Mystery, Drama, Rom..."
55011,3303413,/m/094fnk,Awake,2007,32685679.0,84.0,[English Language],United States of America,"[Thriller, Drama, Psychological thriller]"
29581,5581958,/m/0dtp46,Hideous Kinky,1998,1263279.0,99.0,"[French Language, Arabic Language, English Lan...",France,"[Period piece, Family Drama, Drama, Indie, Adv..."
79828,11763661,/m/02rrh1w,Vantage Point,2008,151161491.0,90.0,"[English Language, Spanish Language]",United States of America,"[Thriller, Crime Fiction, Drama, Suspense, Pol..."
65432,1844737,/m/060g9z,The Roots of Heaven,1958,3000000.0,121.0,[English Language],United States of America,"[Melodrama, Drama, Adventure]"
17692,24282011,/m/07s8r8x,Private Eye,2009,10096836.0,111.0,"[Japanese Language, Korean Language]",South Korea,"[Thriller, Mystery, Crime Fiction]"

In [176]:
df_date_revenue_clean.sample(10)

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie country,Movie genres
56301,15644478,/m/03nnj52,I Love You Beth Cooper,2009,15821907.0,102.0,[English Language],United States of America,"[Romantic comedy, Romance Film, Coming of age,..."
38436,5094131,/m/0d2c_d,The Indian in the Cupboard,1995,35656131.0,98.0,[English Language],United States of America,"[Fantasy Adventure, Children's/Family, Coming ..."
20406,22106018,/m/0gkt4bt,City of Damnation,2009,7545744.0,121.0,[Korean Language],South Korea,"[Action, Action Comedy, Comedy]"
17756,29892611,/m/04j373n,Cousin Bette,1998,1161063.0,108.0,[English Language],United States of America,"[Romance Film, Period piece, Drama, Comedy, Wo..."
3727,6954370,/m/0gynbw,The Other Sister,1999,27807627.0,129.0,[English Language],United States of America,"[Romantic comedy, Family Drama, Drama, Comedy,..."
58745,20406604,/m/04zxw5s,Dachimawa Lee,2008,3715997.0,100.0,[Korean Language],South Korea,"[Adventure, World cinema, Action/Adventure, Co..."
67685,11217280,/m/03b_nfx,The Go-Getter,2008,11931.0,93.0,"[English Language, Spanish Language]",United States of America,"[Road movie, Coming of age, Drama, Indie, Comedy]"
77548,1624928,/m/05hmgv,Nightwatch,1997,1278516.0,101.0,[English Language],United States of America,"[Thriller, Crime Fiction, Horror, Indie, Psych..."
33833,28250083,/m/0dgnnp1,The Woman in Black,2012,127730736.0,NaN,[English Language],Canada,"[Thriller, Drama, Horror, Supernatural]"
31100,8897938,/m/027ns3s,Meet the Applegates,1990,485772.0,90.0,[English Language],United States of America,[Black comedy]

In [34]:
header2 = ['Wikipedia movie ID', 'Freebase movie ID', 'Movie release date','Character Name', 'Actor DOB', 'Actor gender',
           'Actor height', 'Actor ethnicity', 'Actor name', 'Actor age at movie release', 'Freebase character map']
df2 = pd.read_csv(PATH + '/character.metadata.tsv', sep='\t', index_col=False, names=header2, skipinitialspace=True)

C:\Users\julie\AppData\Local\Temp\ipykernel_22720\2071516340.py:3: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df2 = pd.read_csv(PATH + '/character.metadata.tsv', sep='\t', index_col=False, names=header2, skipinitialspace=True)

In [8]:
df2.head(5)

,Wikipedia movie ID,Freebase movie ID,Movie release date,Character Name,Actor DOB,Actor gender,Actor height,Actor ethnicity,Actor name,Actor age at movie release,Freebase character map
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r

In [9]:
df2.isnull().values.any()

True

In [10]:
df2.isnull().sum()

Wikipedia movie ID                 0
Freebase movie ID                  0
Movie release date              9995
Character Name                257875
Actor DOB                     106145
Actor gender                   45609
Actor height                  295845
Actor ethnicity               344611
Actor name                      1228
Actor age at movie release    158113
Freebase character map             0
dtype: int64

In [11]:
merged_df = pd.merge(df, df2, on='Wikipedia movie ID', how='inner')

merged_df = merged_df.drop(columns=['Freebase movie ID_y', 'Movie release date_y'])

merged_df = merged_df.rename(columns={'Freebase movie ID_x': 'Freebase movie ID', 
                                      'Movie release date_x': 'Movie release date'})

In [12]:
merged_df.head(5)

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres,Character Name,Actor DOB,Actor gender,Actor height,Actor ethnicity,Actor name,Actor age at movie release,Freebase character map
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw
1,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m
2,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g
3,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6
4,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r

In [13]:
merged_df.isnull().values.any()

True

In [14]:
merged_df.isnull().sum()

Wikipedia movie ID                 0
Freebase movie ID                  0
Movie name                         0
Movie release date              9995
Movie box office revenue      349641
Movie runtime                  50470
Movie languages                    0
Movie countries                    0
Movie genres                       0
Character Name                257875
Actor DOB                     106145
Actor gender                   45609
Actor height                  295845
Actor ethnicity               344611
Actor name                      1228
Actor age at movie release    158113
Freebase character map             0
dtype: int64

In [15]:
count = 0
for i in range (len(merged_df)):
    if merged_df.iloc[i].duplicated().all():
        count+=1

print("Nb of duplicated row : ",count)

Nb of duplicated row :  0

In [16]:

# Supprimer les valeurs NaN de la colonne 'Movie release date'
merged_df = merged_df.dropna(subset=['Movie release date'])

# Fonction pour compléter les dates partiellement formatées
def complete_date(date):
    if len(date) == 4:  # Si la date contient seulement l'année (format '%Y')
        return date + "-01-01"  # Compléter avec le 1er janvier de l'année
    elif len(date) == 7:  # Si la date contient l'année et le mois (format '%Y-%m')
        return date + "-01"  # Compléter avec le 1er jour du mois
    return date  # Si la date est déjà complète (format '%Y-%m-%d')

# Appliquer la fonction pour compléter les dates partiellement formatées
merged_df['Movie release date'] = merged_df['Movie release date'].apply(complete_date)

# Filtrer les dates qui sont en dehors de la plage valide (1677-2262)
def filter_out_of_bounds(date):
    try:
        # Tenter la conversion en datetime pour voir si elle est valide
        pd.to_datetime(date)
        return True  # Si la conversion réussit, la date est valide
    except pd.errors.OutOfBoundsDatetime:
        return False  # Si une erreur est levée, la date est hors limites

# Appliquer le filtre pour garder uniquement les dates dans la plage valide
merged_df = merged_df[merged_df['Movie release date'].apply(filter_out_of_bounds)]

# Convertir les dates restantes en format datetime
merged_df['Movie release date'] = pd.to_datetime(merged_df['Movie release date'], format='%Y-%m-%d', errors='coerce')

min_date = merged_df['Movie release date'].min()
max_date = merged_df['Movie release date'].max()

print(min_date)
print(max_date)

1888-01-01 00:00:00
2016-06-08 00:00:00